[submodule ".oh-my-fish"]
	path = .oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish.git
[submodule "sublime-installer"]
	path = sublime-installer
	url = git@github.com:TCattd/sublime-text-linux-installer.git
