---
- name: Find latest asdf release
  vars:
    ansible_python_interpreter: "{{ playbook_dir }}/env/bin/python"
  community.general.github_release:
    user: asdf-vm
    repo: asdf
    action: latest_release
  register: _asdf_release

- name: Download latest asdf release
  vars:
    _arch:
      aarch64: arm64
      arm64: arm64
      x86_64: amd64
    tag: "{{ _asdf_release.tag }}"
    sys: "{{ ansible_system | lower }}"
    arch: "{{ _arch[ansible_architecture] }}"
  ansible.builtin.unarchive:
    src: https://github.com/asdf-vm/asdf/releases/download/{{ tag }}/asdf-{{ tag }}-{{ sys }}-{{ arch }}.tar.gz
    dest: "{{ home_dir }}/bin"
    remote_src: true
