---
- name: Install macOS CLI tools
  when: ansible_os_family == 'Darwin'
  tags: [brew]
  homebrew:
    state: present
    name:
      - gnu-tar
      - tig
      - rbenv
      - pyenv
      - ccat
      - kubectx
      - rsync
      - prettyping
      - ncdu
      - ack
      - jq
      - tldr
      - rs/tap/curlie
      - telnet
      - htop
      - tree
      - pstree
      - unar
      - sipcalc

- name: Install Linux CLI tools via APT
  become: true
  when: ansible_os_family == 'Debian'
  apt:
    state: present
    name:
      - tig
      - rsync
      - ncdu
      - ack
      - jq
      - tealdeer
      - telnet
      - htop
      - tree

- name: Install Linux CLI tools via DNF
  become: true
  when: ansible_os_family == 'RedHat'
  dnf:
    state: present
    name:
      - tig
      - rsync
      - ncdu
      - ack
      - jq
      - tealdeer
      - telnet
      - htop
      - tree

- name: Install curlie on Linux
  when: ansible_os_family == 'Debian'
  become: true
  vars:
    _version: 1.8.2
    _architectures:
      aarch64: arm64
      x86_64: amd64
    _arch: "{{ _architectures[ansible_architecture] }}"
    _url: https://github.com/rs/curlie/releases/download/v{{ _version }}/curlie_{{ _version }}_linux_{{ _arch }}.deb
  apt:
    deb: "{{ _url }}"
    state: present

- name: Install curlie on RedHat
  when: ansible_os_family == 'RedHat'
  become: true
  vars:
    _version: 1.8.2
    _architectures:
      aarch64: arm64
      x86_64: amd64
    _arch: "{{ _architectures[ansible_architecture] }}"
    _url: https://github.com/rs/curlie/releases/download/v{{ _version }}/curlie_{{ _version }}_linux_{{ _arch }}.rpm
  dnf:
    name: "{{ _url }}"
    state: present
    disable_gpg_check: true
