---
# Install things that shells are configured to need for aliases, etc.

- name: Install various CLI/shell deps on macOS
  when: ansible_os_family == 'Darwin'
  homebrew:
    state: present
    name:
      - grc
      - direnv
      - bat
      - fd
      - ag
      - eza
      - fzf
      - colordiff

- name: Install various CLI/shell deps on Debian-family
  become: true
  when: ansible_os_family == 'Debian'
  apt:
    state: present
    name:
      - bat
      - grc
      - direnv
      - fd-find
      - silversearcher-ag
      - fzf
      - colordiff
      # Required by zsh vz
      - python3-venv

- name: Install various CLI/shell deps on RedHat-family
  become: true
  when: ansible_os_family == 'RedHat'
  dnf:
    state: present
    name:
      - bat
      - grc
      - direnv
      - fd-find
      - the_silver_searcher
      - fzf
      - colordiff

- name: Setup any custom symlinks
  when: ansible_os_family == 'Debian'
  file:
    src: "{{ item.src }}"
    dest: "{{ home_dir }}/bin/{{ item.bin }}"
    state: link
  loop:
    - src: /usr/bin/fdfind
      bin: fd
    - src: /usr/bin/batcat
      bin: bat

- name: Get latest eza release info from GitHub
  when: ansible_os_family == 'RedHat'
  ansible.builtin.uri:
    url: https://api.github.com/repos/eza-community/eza/releases/latest
    return_content: yes
    headers:
      Accept: application/vnd.github.v3+json
  register: eza_github_release

- name: Download latest eza binary for RedHat
  when: ansible_os_family == 'RedHat'
  become: true
  vars:
    eza_download_url: "{{ (eza_github_release.json.assets | selectattr('name', 'eq', 'eza_x86_64-unknown-linux-gnu.tar.gz') | list)[0].browser_download_url }}"
  ansible.builtin.unarchive:
    src: "{{ eza_download_url }}"
    dest: /usr/local/bin
    remote_src: true
    mode: '0755'
    owner: root
    group: root
